@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

*{
    box-sizing: border-box; 
}
:before, 
:after{
    box-sizing: border-box; 
}

html, body {
    height: 100%;
   }

.abs-center{
    position: absolute; 
    top: 50%; 
    left: 50%; 
   }

.mt-0{
    margin-top:0; 
}

body{
    padding: 0; 
    margin: 0; 
    background: #fff;
    color: #151515; 
    font-size: 16px; 
    line-height: 30px; 
    font-family: 'Cutive Mono', monospace;
}

.content-wrapper{
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: 100;
    text-align: center; 
    z-index: 1; 
}

.v-center {
    position: relative;
    display: inline-block; 
    width: 86%; 
    text-align: left; 
    vertical-align: middle; 
}

.main-content{
    visibility: hidden;
}

